<mat-card>
    <form (submit)="onRegister(registerForm)" #registerForm="ngForm" >
        <mat-form-field>
            <input 
            matInput
            type="email"
            placeholder="E-Mail"
            name="email"
            ngModel
            #email="ngModel"
            required
            email
            >
            <mat-error *ngIf="email.invalid">Please enter a valid e-mail</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
            matInput
            type="password"
            placeholder="Password"
            name="password"
            ngModel
            #password="ngModel"
            required
            >
            <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>            
        </mat-form-field>
        <button
        mat-raised-button
        color="primary" 
        type="submit"
        [disabled]="registerForm.invalid">Register</button>
    </form>
</mat-card>